/*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/
    body{
        text-align: center !important;
        background-image: url("https://cdn.dribbble.com/users/77121/screenshots/15545185/media/1e7884af5d5a2bdc1d255ead9bf863e3.gif");
    }
    p{
        margin-top: 20px;
        font-size: 30px;
    }
    input{
        text-align: center;
    }
    .mssg{
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .form-group{
        border-radius: 25px;
        height: 250px;
        background: #ffffff;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    }